<div class="flex w-full space-x-4 ">
    <!-- Buscar (input) -->
    <div class="w-1/2">
        <div
            class="w-full h-[52.23px] px-3 py-2 rounded-lg border-2 border-[#C2C2C2]  flex justify-between items-center dark:!text-gray-100">
            <input [(ngModel)]="value" type="text"
                class="w-full h-full bg-transparent border-0 outline-none text-[#757575] text-lg font-roboto font-normal dark:text-[#ccc]"
                (ngModelChange)="onValueChange()" [placeholder]="'home.placeholder-search' | translate" />
            <div class="flex items-center gap-2">
                <button mat-icon-button class="text-[#757575] dark:text-[#ccc]">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <!-- Filtro -->
    <div class="w-1/4  flex  items-center ">
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Filtrar por</mat-label>
            <mat-select [(ngModel)]="selectedFilter">
                <mat-option *ngIf="!filterOptions.length" disabled>Sin datos disponibles</mat-option>
                <mat-option *ngFor="let option of filterOptions" [value]="option.value">{{ option.label }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <!-- Nuevo botón de buscar (al final) -->
    <div class="w-1/4 justify-center items-center">
        <button (click)="executeSearch()" class="elitsoft-btn w-full  ">
            {{ 'mantenedores.buscar' | translate }}
        </button>
    </div>
</div>