<div class="p-4  w-full dark:bg-neutral-800 ">
    <div class="flex items-center mb-4">
        <img src="assets/perfil.png" class="w-16 h-16 rounded-lg mr-4" alt="Perfil">
        <div>
            <h2 class="text-xl font-semibold">José Rodríguez</h2>
            <p class="text-lg ">{{ 'perfil.rol' | translate }}</p>
        </div>
    </div>
    <hr class="border-gray-300 my-2">

    <div class="space-y-2">
        <button mat-button
            class="group flex items-center justify-between w-full text-left hover:bg-blue-100 p-2 rounded-lg">
            <span class="flex items-center">
                <mat-icon class="group-hover:ml-2">person</mat-icon> <!-- Icono ajustado a la derecha en hover -->
                <span class="ml-3">
                    <p class="text-lg group-hover:text-blue-600">{{ 'perfil.myprofile' | translate }}</p>
                    <!-- Texto azul en hover -->
                </span>
            </span>
            <mat-icon class="group-hover:mr-4 transition-all duration-300">chevron_right</mat-icon>
            <!-- Flecha se mueve hacia el centro al hacer hover -->
        </button>

        <button mat-button
            class="group flex items-center justify-between w-full text-left hover:bg-blue-100 p-2 rounded-lg">
            <span class="flex items-center">
                <mat-icon class="group-hover:ml-2">settings</mat-icon>
                <span class="ml-3">
                    <p class="text-lg group-hover:text-blue-600"> {{ 'perfil.settings' | translate }}</p>
                </span>
            </span>
            <mat-icon class="group-hover:mr-4 transition-all duration-300">chevron_right</mat-icon>
            <!-- Flecha se mueve hacia el centro al hacer hover -->
        </button>

    </div>

    <hr class="border-gray-300 my-2">

    <button mat-button class="flex items-center w-full text-left  rounded-lg" (click)="cerrarSesion()">
        <mat-icon>logout</mat-icon>
        <span class="ml-3">
            <p class="text-lg "> {{ 'perfil.logout' | translate }}</p>
        </span>
    </button>
</div>