<!-- Header -->
<header class="h-16 flex items-center px-4 dark:bg-neutral-800">
    <!-- Izquierda (Botón menú en móvil) -->
    <div class="flex-1 h-full flex items-center px-4">
        <button class="md:hidden p-2 rounded-lg bg-gray-100 dark:bg-neutral-700">
            <svg class="w-6 h-6 text-blue-600" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
    </div>

    <!-- Derecha (Búsqueda en desktop, botones en móvil) -->
    <div class="flex-1 h-full flex justify-end items-center px-2 gap-4">
        <!-- Buscador (Oculto en móvil, visible en desktop) -->
        <div class="hidden md:flex w-[80%] h-full items-center">
            <div class="w-full flex-grow">
                <app-busqueda (buscar)="ejecutarBusqueda($event)"></app-busqueda>
            </div>
        </div>

        <!-- Contenedor de botones en móvil (para que se alineen bien) -->
        <div class="flex items-center gap-2 md:gap-6">
            <app-theme-toggle></app-theme-toggle>
            <app-perfil></app-perfil>
        </div>
    </div>
</header>


<!-- Separador -->
<div class="h-[26px] w-full dark:bg-neutral-800 "></div>


<!-- Contenedor Principal -->
<div class="flex flex-col md:flex-row h-screen dark:bg-neutral-800 w-full ">
    <!-- Sidebar (Oculto en móviles) -->
    <mat-sidenav mode="side" opened class="hidden md:flex p-4 h-full md:w-[10%]">
    </mat-sidenav>
    <!-- Sección Principal -->
    <div class="flex flex-col w-full md:w-[90%] dark:bg-neutral-800 p-4">
        <!-- Secciones apiladas en móviles, en dos columnas en escritorio -->
        <div class="flex flex-col md:flex-row gap-4">
            <section class="w-full md:w-1/2 overflow-hidden">
                <div class="w-full h-[175px]">
                    <swiper-container speed="2500" loop="true" class="mySwiper" pagination="true"
                        pagination-clickable="true" slides-per-view="1" space-between="0" free-mode="true"
                        autoplay-delay="3500" autoplay-disable-on-interaction="false">
                        <swiper-slide *ngFor="let image of images">
                            <img [src]="getImageRoute(image)" alt="Placeholder Image"
                                class="object-cover object-top w-full h-full transition-transform duration-300 transform-gpu">
                        </swiper-slide>
                    </swiper-container>
                </div>
                <!-- Separador -->
                <div class="h-[26px] w-full "></div>

                <app-titulo-parametrizado></app-titulo-parametrizado> <!-- No se toca el overflow -->

                <!-- Separador -->
                <div class="h-[26px] w-full "></div>
            </section>

            <!-- Calendario de Eventos -->
            <aside class="w-full md:w-1/2">
                <app-calendario-evento></app-calendario-evento>
            </aside>
        </div>
    </div>