<div class="bg-gray-100 dark:bg-neutral-800 lg:flex justify-center items-center min-h-screen h-full">
    <!-- Left: Image -->
    <button (click)="openAccessibilityPanel()" class="fixed top-10 right-20 z-50">
        <div class="relative w-11 h-11 flex items-center justify-center bg-[#d9d9d9] rounded-full">
            <mat-icon class="scale-150 text-gray-800 absolute">
                accessibility
            </mat-icon>
        </div>
    </button>


    <div class="lg:w-1/2 h-[60vh] w-full lg:h-screen">
        <div class="relative w-full h-full">

            <swiper-container speed="2500" loop="true" class="mySwiper" pagination="true" pagination-clickable="true"
                slides-per-view="1" space-between="0" free-mode="true" autoplay-delay="3500"
                autoplay-disable-on-interaction="false">
                <swiper-slide *ngFor="let image of images">
                    <img [src]="getImageRoute(image)" alt="Placeholder Image"
                        class="object-cover object-top w-full h-full transition-transform duration-300 transform-gpu hover:scale-110">
                </swiper-slide>
            </swiper-container>


            <div class="z-50 absolute left-1/2 -translate-x-1/2 bottom-[8vh] lg:bottom-[6vh]">
                <div class="h-[63px] flex-col justify-center items-center inline-flex">
                    <div class="text-center text-white text-[34px] font-medium font-['Roboto']">
                        {{ 'login.optimizeTime' | translate }}
                    </div>
                    <div class="self-stretch text-center text-white text-xl font-normal font-['Roboto']">
                        {{ 'login.oneClick' | translate }}
                    </div>
                </div>
            </div>


            <img src="assets/servicampo.png"
                class="z-50 absolute left-1/2 -translate-x-1/2 bottom-[16vh] lg:bottom-[18vh]" />
        </div>
    </div>





    <div class="lg:-mt[0] lg:py-24 lg:px-28 lg:p-52 sm:20 p-8 w-full lg:w-1/2">



        <div class="">
            <div class="text-3xl font-medium font-['Roboto']"> {{ 'login.welcome' | translate }}</div>
            <div class="self-stretch text-[#9e9e9e] text-[22px] font-normal font-['Roboto']">{{ 'login.accessAccount' |
                translate }}</div>
        </div>
        <div class="my-[70px]"></div>
        <form (ngSubmit)="login()" [formGroup]="form" class="w-full">
            <!-- Username Input -->








            <div class="overflow-x-auto">
                <table class="table">
                    <!-- head -->
                    <thead>
                        <tr>
                            <th>
                                <label>
                                    <input type="checkbox" class="checkbox" />
                                </label>
                            </th>
                            <th>Name</th>
                            <th>Job</th>
                            <th>Favorite Color</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- row 1 -->
                        <tr>
                            <th>
                                <label>
                                    <input type="checkbox" class="checkbox" />
                                </label>
                            </th>
                            <td>
                                <div class="flex items-center gap-3">
                                    <div class="avatar">
                                        <div class="mask mask-squircle h-12 w-12">
                                            <img src="https://img.daisyui.com/images/profile/demo/2@94.webp"
                                                alt="Avatar Tailwind CSS Component" />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="font-bold">Hart Hagerty</div>
                                        <div class="text-sm opacity-50">United States</div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                Zemlak, Daniel and Leannon
                                <br />
                                <span class="badge badge-ghost badge-sm">Desktop Support Technician</span>
                            </td>
                            <td>Purple</td>
                            <th>
                                <button class="btn btn-ghost btn-xs">details</button>
                            </th>
                        </tr>
                        <!-- row 2 -->
                        <tr>
                            <th>
                                <label>
                                    <input type="checkbox" class="checkbox" />
                                </label>
                            </th>
                            <td>
                                <div class="flex items-center gap-3">
                                    <div class="avatar">
                                        <div class="mask mask-squircle h-12 w-12">
                                            <img src="https://img.daisyui.com/images/profile/demo/3@94.webp"
                                                alt="Avatar Tailwind CSS Component" />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="font-bold">Brice Swyre</div>
                                        <div class="text-sm opacity-50">China</div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                Carroll Group
                                <br />
                                <span class="badge badge-ghost badge-sm">Tax Accountant</span>
                            </td>
                            <td>Red</td>
                            <th>
                                <button class="btn btn-ghost btn-xs">details</button>
                            </th>
                        </tr>
                        <!-- row 3 -->
                        <tr>
                            <th>
                                <label>
                                    <input type="checkbox" class="checkbox" />
                                </label>
                            </th>
                            <td>
                                <div class="flex items-center gap-3">
                                    <div class="avatar">
                                        <div class="mask mask-squircle h-12 w-12">
                                            <img src="https://img.daisyui.com/images/profile/demo/4@94.webp"
                                                alt="Avatar Tailwind CSS Component" />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="font-bold">Marjy Ferencz</div>
                                        <div class="text-sm opacity-50">Russia</div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                Rowe-Schoen
                                <br />
                                <span class="badge badge-ghost badge-sm">Office Assistant I</span>
                            </td>
                            <td>Crimson</td>
                            <th>
                                <button class="btn btn-ghost btn-xs">details</button>
                            </th>
                        </tr>
                        <!-- row 4 -->
                        <tr>
                            <th>
                                <label>
                                    <input type="checkbox" class="checkbox" />
                                </label>
                            </th>
                            <td>
                                <div class="flex items-center gap-3">
                                    <div class="avatar">
                                        <div class="mask mask-squircle h-12 w-12">
                                            <img src="https://img.daisyui.com/images/profile/demo/5@94.webp"
                                                alt="Avatar Tailwind CSS Component" />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="font-bold">Yancy Tear</div>
                                        <div class="text-sm opacity-50">Brazil</div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                Wyman-Ledner
                                <br />
                                <span class="badge badge-ghost badge-sm">Community Outreach Specialist</span>
                            </td>
                            <td>Indigo</td>
                            <th>
                                <button class="btn btn-ghost btn-xs">details</button>
                            </th>
                        </tr>
                    </tbody>
                    <!-- foot -->
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Job</th>
                            <th>Favorite Color</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>













            <label class="form-control w-full max-w-xs">
                <div class="label">
                    <span class="label-text">What is your name?</span>
                    <span class="label-text-alt">Top Right label</span>
                </div>
                <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
                <div class="label">
                    <span class="label-text-alt">Bottom Left label</span>
                    <span class="label-text-alt">Bottom Right label</span>
                </div>
            </label>


            <div class="mb-4">
                <mat-form-field appearance="outline" class="w-full dark:!text-gray-100 ">
                    <mat-label>{{ 'login.username' | translate }}</mat-label>
                    <input matInput type="email" formControlName="username" id="username"
                        placeholder="Ingresa tu usuario" class="w-full dark:!text-gray-100  bg-transparent " required>
                    <mat-error *ngIf="form.get('username')?.hasError('required')">
                        {{ 'login.emptyField' | translate }}
                    </mat-error>
                </mat-form-field>

            </div>

            <div class="mb-4">

                <mat-form-field appearance="outline" class="w-full dark:!text-gray-100">
                    <mat-label>{{ 'login.password' | translate }}</mat-label>
                    <input matInput type="password" formControlName="password" id="password" placeholder="••••••••"
                        class="w-full dark:!text-gray-100" required>
                    <mat-error *ngIf="form.get('password')?.hasError('required')">
                        {{ 'login.emptyField' | translate }} </mat-error>
                </mat-form-field>

            </div>

            <button type="submit" class="elitsoft-btn !py-3 rounded px-4 w-full"
                style="display: block; margin: 0 auto;">
                {{ 'login.signIn' | translate }}</button>

            <div class="error-message  text-red-500 py-2 px-4 rounded-lg text-center" *ngIf="errorMessage">{{
                errorMessage }}</div>

            <div class="text-center mt-[4vh] text-[#9e9e9e] text-[11px] font-normal font-['Roboto']">© Copyright
                Elitsoft 2025 .
            </div>

        </form>


    </div>
</div>