<div
    style="width: 936px; height: 175px; padding-left: 24px; padding-right: 24px; padding-top: 19px; padding-bottom: 19px; background: white; border-radius: 20px; overflow: hidden; justify-content: flex-end; align-items: flex-start; gap: 10px; display: inline-flex">
    <div
        style="width: 551.84px; height: 551.84px; background: radial-gradient(94.97% 94.97% at -357.64% 1213.04%, #FF0000 0%, rgba(212.50, 199.96, 64.99, 0) 100%), radial-gradient(145.22% 145.22% at 20.14% -365.34%, #4350AF 0%, rgba(67, 80, 175, 0) 0%, rgba(67, 80, 175, 0.49) 0%, rgba(67, 80, 175, 0.13) 100%), radial-gradient(82.01% 82.01% at 125.64% -74.89%, #4350AF 0%, #4350AF 100%, #4350AF 100%); border-radius: 9999px">
    </div>
    <div
        style="flex: 1 1 0; height: 137px; flex-direction: column; justify-content: center; align-items: center; gap: 14px; display: inline-flex">
        <div
            style="align-self: stretch; height: 102px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 14px; display: flex">
            <div
                style="align-self: stretch; height: 52px; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: flex">
                <div
                    style="width: 780px; color: #4350AF; font-size: 22px; font-family: Roboto; font-weight: 500; word-wrap: break-word">
                    Tu planificación, simplificada</div>
                <div
                    style="width: 780px; color: #4350AF; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">
                    Gestión y control en un solo lugar</div>
            </div>
            <div
                style="width: 150px; height: 36px; padding-left: 12px; padding-right: 12px; padding-top: 8px; padding-bottom: 8px; border-radius: 8px; justify-content: space-between; align-items: center; display: inline-flex">
                <div
                    style="text-align: center; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">
                    Descargar</div>
            </div>
        </div>
        <div style="height: 5px; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
            <div style="width: 10px; height: 5px; background: white; border-radius: 50px"></div>
            <div style="width: 5px; height: 5px; opacity: 0.50; background: white; border-radius: 50px"></div>
            <div style="width: 5px; height: 5px; opacity: 0.50; background: white; border-radius: 50px"></div>
            <div style="width: 5px; height: 5px; opacity: 0.50; background: white; border-radius: 50px"></div>
        </div>
    </div>
    <img style="width: 98px; height: 139px; transform: rotate(180deg); transform-origin: top left; box-shadow: 10px 20px 40px rgba(0, 91.62, 176.37, 0.50)"
        src="https://placehold.co/98x139" />
</div>