<section class="h-[100vh] w-full  dark:bg-neutral-800  w-full ">
    <div
        class="container mx-auto p-4 rounded-lg overflow-hidden z-10  bg-white dark:bg-neutral-800 dark:border dark:border-white">

        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">

            <mat-tab label="Agregar Dirección"> <app-locaciones-empleado-form [id]="id"
                    (formularioEnviado)="onFormularioEnviado()"></app-locaciones-empleado-form>


            </mat-tab>
            <mat-tab label="Direcciones Asociadas">

                <app-expansion-panel-locacion [id]="id"
                    (editarDireccionEvent)="onEditarDireccion($event)"></app-expansion-panel-locacion>

            </mat-tab>

        </mat-tab-group>
    </div>




</section>