<div class="mt-16"></div>
<div class="flex w-full justify-center items-center h-full">
    <label for="colorInput">text oColor:</label>









    <input id="colorInput " type="color " (change)="updateHue($event)" />








</div>





<div class="w-80 bg-main-500       text-main-800     flex w-full justify-center items-center h-full">
    <div class="text-main-200"> Texto de prueba </div>
    <div class="text-main-700"> AKSJFKJSAFKJSKFJ</div>

    <div class="rounded-full w-16 h-16 bg-main-800"> </div>
</div>

<div class="w-80 bg-main-200 flex w-full justify-center items-center h-full">
    <div class="text-main-900"> Texto de prueba2</div>
    <div class="text-main-400"> bvxcvxcvxc </div>

    <div class="w-16 h-16 bg-main-700"> </div>
</div>