<div class="container mx-auto p-4 bg-white">
    <!-- Header Section -->
    <div class="bg-white p-4 rounded-lg  flex justify-between items-center mb-4">
        <div class="flex items-center space-x-2">
            <!-- Botón regresar -->
            <!-- Titulo -->
            <h1 class="text-2xl font-bold">Clasificación de Clientes</h1>
        </div>
        <div class="flex space-x-2">
            <!-- Botones y Acciones -->
            <app-opciones-mantenedor></app-opciones-mantenedor>
        </div>
    </div>

    <!-- Table Section -->
    <div class="bg-white p-4 rounded-lg ">
        <app-shared-table [displayedColumns]="displayedColumns" [dataSource]="dataSource"
            (deleteSelected)="onDeleteSelected($event)" (viewSelected)="onViewSelected($event)"
            (editSelected)="onEditSelected($event)"></app-shared-table>
    </div>
    <!-- Pagination Section -->
    <div class="p-2 rounded-lg shadow-md flex justify-between items-center mt-4">
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons
            class="custom-paginator">
        </mat-paginator>
    </div>


</div>