<div *ngIf="direccionEmpleados.length > 0; else noDataTemplate">
    <mat-expansion-panel *ngFor="let direccionEmpleado of direccionEmpleados" [expanded]="false"
        class="shadow-md rounded-lg overflow-hidden">
        <mat-expansion-panel-header class="py-4 px-4">
            <div class="flex items-center space-x-2 text-indigo-700">
                <mat-icon>place</mat-icon>
                <span class="font-medium">
                    {{ direccionEmpleado ? direccionEmpleado.descripcion + ' - ' +
                    direccionEmpleado.comuna.descripcionComuna : 'Información no disponible' }}
                </span>
            </div>
            <div class="ml-auto flex space-x-1">
                <button mat-icon-button class="text-indigo-600">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button class="text-red-500" (click)="eliminarDireccion(direccionEmpleado.id)">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </mat-expansion-panel-header>

        <div class="px-4 pb-4">
            <div class="pb-2 mb-4 border-b border-gray-200">
                <span class="font-medium text-base">Estado: {{
                    obtenerInformacionNoDisponible(direccionEmpleado?.estado?.descripcion) }}</span>
            </div>

            <div class="pb-2 mb-4 border-b border-gray-200">
                <span class="font-medium text-base">Comuna: {{
                    obtenerInformacionNoDisponible(direccionEmpleado?.comuna?.descripcionComuna) }}</span>
            </div>

            <div class="pb-2 mb-4 border-b border-gray-200">
                <span class="font-medium text-base">Descripción: {{
                    obtenerInformacionNoDisponible(direccionEmpleado?.descripcion) }}</span>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <div class="bg-gray-50 p-3 rounded-md">
                    <div class="flex flex-col space-y-2">
                        <div class="flex items-center space-x-2">
                            <mat-icon class="text-gray-500 text-xl">place</mat-icon>
                            <span>Latitud: {{ obtenerInformacionNoDisponible(direccionEmpleado?.latitud) }}</span>
                        </div>
                        <div class="flex items-center space-x-2">
                            <mat-icon class="text-gray-500 text-xl">place</mat-icon>
                            <span>Longitud: {{ obtenerInformacionNoDisponible(direccionEmpleado?.longitud) }}</span>
                        </div>
                        <div class="flex items-center space-x-2">
                            <mat-icon class="text-gray-500 text-xl">description</mat-icon>
                            <span>{{ obtenerInformacionNoDisponible(direccionEmpleado?.referencia) }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-expansion-panel>
</div>

<!-- Pantalla cuando no hay datos -->
<ng-template #noDataTemplate>
    <div class="flex items-center justify-center h-[600px] bg-gray-100 text-gray-600 text-lg font-medium">
        {{ mensajeNoDatos }}
    </div>
</ng-template>