<app-titulo-dialogo [title]="'title' | translate" icon="accessibility_new" [ref]="dialogRef"></app-titulo-dialogo>
<div class="w-[392px] h-[308px] dark:bg-neutral-800 flex flex-col items-stretch font-['Roboto']">
    <!-- Color Mode Section -->
    <div class="h-11 rounded-t-lg flex items-center px-3 gap-3">
        <mat-icon style="color: #4350AF;">color_lens</mat-icon>
        <div class="text-lg text-[#616161] font-medium">{{ 'colorMode' | translate }}:</div>
    </div>

    <app-toggle-group [selectedValue]="initialMode" [options]="colorModes" (valueChange)="onColorModeChange($event)"
        [(ngModel)]="selectedColorMode" name="colorMode">
    </app-toggle-group>

    <!-- Language Section -->
    <div class="flex-1 flex flex-col">
        <div class="h-11 flex items-center px-3 gap-3">
            <mat-icon style="color: #4350AF;">public</mat-icon>
            <div class="text-lg text-[#424242] font-medium">{{ 'language' | translate }}</div>
        </div>
        <input placeholder="{{ 'searchLanguage' | translate }}"
            class="h-11 mb-2 bg-transparent flex items-center justify-between px-3 text-lg"
            [formControl]="languageControl" [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onLanguageSelected($event)">
            <mat-option *ngFor="let language of filteredLanguages | async" [value]="language" class="text-lg">
                {{ language }}
            </mat-option>
        </mat-autocomplete>

        <div class="flex">
            <button class="flex-1 h-11 bg-servicampo text-white text-lg">
                {{ selectedLanguage }}
            </button>
        </div>

        <!-- Font Size Section -->
        <div class="h-11 flex items-center px-3 gap-3">
            <mat-icon style="color: #4350AF;">text_fields</mat-icon>
            <div class="text-lg text-[#424242] font-medium">{{ 'fontSize' | translate }}</div>
        </div>
        <app-toggle-group [options]="fontSizes" [(ngModel)]="selectedFontSize" [selectedValue]=" this.selectedFontSize"
            (valueChange)="onFontSizeChange($event)">
        </app-toggle-group>
    </div>
</div>