<form [formGroup]="form" class="space-y-4 p-4">

    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="descripcion" placeholder="Descripción">
    </mat-form-field>


    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Tipo de locación</mat-label>
        <mat-select formControlName="tipoDireccion">
            <mat-option *ngFor="let tipo of tiposDirecciones" [value]="tipo">
                {{ tipo.descripcion }}
            </mat-option>
        </mat-select>
    </mat-form-field>



    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="estado">
            <mat-option *ngFor="let est of estados" [value]="est">
                {{ est.descripcion }}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Región</mat-label>
            <mat-select (selectionChange)="onRegionSeleccionada($event.value)">
                <mat-option *ngFor="let reg of regiones" [value]="reg.id">{{ reg.descripcionRegion }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Provincia</mat-label>
            <mat-select (selectionChange)="onProvinciaSeleccionada($event.value)">
                <mat-option *ngFor="let prov of provincias" [value]="prov.id">{{ prov.descripcionCiudad }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Comuna</mat-label>
            <mat-select formControlName="comuna">
                <mat-option *ngFor="let com of comunas" [value]="com">{{ com.descripcionComuna }}</mat-option>
            </mat-select>
        </mat-form-field>



        <!-- Segunda fila -->
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Calle y Número</mat-label>
            <input matInput #autocompleteInput placeholder="Ingrese Calle y Número" [value]="direccionCombinada"
                (blur)="separarDireccion()" (input)="actualizarDireccion($event)">
        </mat-form-field>

        <!-- Zona -->
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Zona</mat-label>
            <mat-select (selectionChange)="onZonaSeleccionada($event.value)">
                <mat-option *ngFor="let tipo of zonas" [value]="tipo.id">
                    {{ tipo.descripcionZona }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Sector</mat-label>
            <mat-select formControlName="sector">
                <mat-option *ngFor="let sector of sectores" [value]="sector">
                    {{ sector.descripcionSector }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <!-- Mapa -->
    <div class="mt-4 border rounded-lg overflow-hidden">
        <app-map [initialPosition]="initialPosition" [markerPosition]="currentMarkerPosition"
            (positionChanged)="onMapPositionChanged($event)">
        </app-map>
    </div>


    <div class="grid grid-cols-1 md:grid-cols-2 gap-4"> <!-- Tercera fila -->
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>Referencia</mat-label>
            <textarea matInput formControlName="referencia" rows="3" placeholder="Referencia"></textarea>
        </mat-form-field>


        <!-- Toggle para solicitar evidencia -->
        <div class="flex items-center gap-4 py-2 text-lg">
            <span class="text-gray-700 font-medium">Solicita evidencia</span>
            <mat-slide-toggle [checked]="form.get('flagEvidencia')?.value === 'S'" (change)="toggleEvidencia($event)"
                color="primary">
            </mat-slide-toggle>
        </div>
    </div>


    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">




    </div>

    <!-- Botón de guardar -->
    <div class="flex justify-end mt-6">

        <button class="elitsoft-warn mr-4" type="submit">
            Cancelar
        </button>

        <button class="elitsoft-btn" type="submit" [disabled]="form.invalid" (click)="onSubmit()">
            {{ form.value.id ? 'Actualizar' : 'Guardar' }}
        </button>


    </div>
</form>