<div
    class="container mx-auto p-4 rounded-lg overflow-hidden z-10  bg-white dark:bg-neutral-800 dark:border dark:border-white">
    <!-- Header Section -->
    <div
        class="bg-white p-4 rounded-lg flex flex-col sm:flex-row justify-between items-center gap-4 dark:bg-neutral-800 sm:mb-0">

        <!-- Contenedor del botón y el título -->
        <div class="flex flex-col sm:flex-row sm:items-center sm:space-x-2 w-full">

            <!-- Botón Volver (cambia de posición según la pantalla) -->
            <button class="elitsoft-warn text-base w-auto sm:w-auto self-start sm:self-auto" (click)="volver()">
                <mat-icon>arrow_back</mat-icon> {{ 'mantenedores.volver' | translate }}
            </button>

            <!-- Título (centrado en móvil, alineado a la izquierda en escritorio) -->
            <h1 class="text-xl text-center w-full sm:text-left sm:w-auto">
                {{ 'mantenedores.tarea.titulo' | translate }}
            </h1>

        </div>

        <!-- Opciones del mantenedor -->
        <div class="w-full sm:w-auto">
            <app-opciones-mantenedor [hasSelection]="hasSelection" [selectedData]="selectedData"
                (agregar)="agregarServicio()" (exportar)="exportarExcel()" (eliminar)="eliminar($event)">
            </app-opciones-mantenedor>
        </div>

    </div>


    <!-- Table Section -->

    <div class="bg-white p-4 rounded-lg mb-4  dark:bg-neutral-800">
        <app-shared-table (applyfilter)="buscar($event)" [filtersLabels]="activeOptionalFilters"
            [translationGroup]="'mantenedores.tarea'" [displayedColumns]="displayedColumns" [dataSource]="dataSource"
            [pageNumber]="pageNumber" [totalElements]="totalElements" [totalPages]="totalPages" [pageSize]="pageSize"
            (deleteSingleSelected)="onDeleteSingleSelected($event)" (deleteSelected)="onDeleteSelected($event)"
            (viewSelected)="onViewSelected($event)" (pageChanged)="onPageChanged($event)" (sort)="sortDatos($event)"
            (editSelected)="onEditSelected($event)" (selectionChange)="onSelectionChange($event)"
            [simpleSearchField]="'descripcionTarea'" (filterDelete)="onFilterDeleted($event)"
            [filters]='[]'></app-shared-table>
    </div>
</div>
<section class="h-[10vh] w-full  dark:bg-neutral-800  w-full "></section>