<app-titulo-dialogo
	[title]="(esActualizar() ? 'mantenedores.formularios.cliente.tituloEditar' : 'mantenedores.formularios.cliente.tituloAgregar') | translate"
	icon="task" [ref]="dialogRef">
</app-titulo-dialogo>


<mat-dialog-content class="relative">

	<app-sidebar routesRoute="/assets/routes-clientes-form.json" (linkClick)="handleLinkClick($event)"
		[isForForms]="true"></app-sidebar>

	<div class="pl-28">
		<form [formGroup]="form" (ngSubmit)="onSubmit()">


			<!-- Información esencial -->
			<app-informacion-personal></app-informacion-personal>
		</form>


		<mat-dialog-actions align="end">

			<div class="grid grid-cols-2 gap-4 w-full">
				<button type="button" (click)="dialogRef.close()"
					class="elitsoft-warn w-full flex items-center justify-center py-2 text-center">
					{{ 'mantenedores.formularios.botonCancelar' | translate }}
				</button>
				<button type="submit" [disabled]="form.invalid"
					class="elitsoft-btn w-full flex items-center justify-center py-2 text-center disabled:opacity-50">
					{{ (esActualizar() ? 'mantenedores.formularios.actualizar' :
					'mantenedores.formularios.guardar') |
					translate }}
				</button>
			</div>
		</mat-dialog-actions>
	</div>

</mat-dialog-content>