<app-titulo-dialogo
    [title]="(esActualizar() ? 'mantenedores.formularios.servicio.tituloEditar' : 'mantenedores.formularios.servicio.tituloAgregar') | translate"
    icon="task" [ref]="dialogRef">
</app-titulo-dialogo>

<mat-dialog-content class="!p-0 dark:bg-neutral-800">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-6 space-y-4">
        <!-- Campo para descripción (crear/actualizar) -->
        <mat-form-field appearance="outline" class="w-full dark:text-white">
            <mat-label>{{ 'mantenedores.formularios.servicio.label.descripcion' | translate }}</mat-label>
            <input matInput formControlName="descripcion" class="text-lg w-full dark:text-white" maxlength="50"
                [required]="true">
            <mat-hint align="end">{{form.get('descripcion')?.value?.length || 0}}/50</mat-hint>
            <mat-error *ngIf="form.get('descripcion')?.hasError('required')" class="text-red-500 text-base">
                {{ 'mantenedores.formularios.campoRequerido' | translate }}
            </mat-error>
        </mat-form-field>

        <!-- Select para Tipo de Servicio -->
        <mat-form-field appearance="outline" class="w-full dark:text-white">
            <mat-label>{{ 'mantenedores.formularios.tipoServicio.label.descripcionTipoServicio' | translate
                }}</mat-label>
            <mat-select formControlName="tipoServicioId" class="text-lg w-full dark:text-white" [disabled]="isLoading">
                <mat-option *ngFor="let tipo of tiposServicio" [value]="tipo.id">
                    {{tipo.descripcionTipoServicio}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('tipoServicioId')?.hasError('required')" class="text-red-500 text-base">
                {{ 'mantenedores.formularios.campoRequerido' | translate }}
            </mat-error>
            <mat-hint *ngIf="isLoading" class="text-blue-500">
                {{ 'mantenedores.formularios.cargando' | translate }}
            </mat-hint>
        </mat-form-field>

        <!-- Select para Estado (solo en modo edición) -->
        <mat-form-field *ngIf="data?.esActualizar" appearance="outline" class="w-full dark:text-white">
            <mat-label>{{ 'mantenedores.formularios.servicio.label.estado' | translate }}</mat-label>
            <mat-select formControlName="estadoId" class="text-lg w-full dark:text-white">
                <mat-option *ngFor="let estado of estados" [value]="estado.id">
                    {{estado.descripcion}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('estadoId')?.hasError('required')" class="text-red-500 text-base">
                {{ 'mantenedores.formularios.campoRequerido' | translate }}
            </mat-error>
        </mat-form-field>

        <div class="grid grid-cols-2 gap-4 w-full">
            <button type="button" (click)="dialogRef.close()"
                class="text-lg elitsoft-warn w-full flex items-center justify-center py-2 text-center">
                {{ 'mantenedores.formularios.botonCancelar' | translate }}
            </button>
            <button type="submit"
                [disabled]="form.invalid || isLoading || (!form.get('descripcion')?.value?.length && data?.esActualizar)"
                class="text-lg elitsoft-btn w-full flex items-center justify-center py-2 text-center disabled:opacity-50">
                {{ (esActualizar() ? 'mantenedores.formularios.actualizar' :
                'mantenedores.formularios.guardar') |
                translate }}
            </button>
        </div>
    </form>
</mat-dialog-content>