<app-titulo-dialogo
    [title]="(esActualizar() ? 'mantenedores.formularios.tipoComponente.tituloEditar' : 'mantenedores.formularios.tipoComponente.tituloAgregar') | translate"
    icon="task" [ref]="dialogRef">
</app-titulo-dialogo>

<mat-dialog-content class="!p-0 dark:bg-neutral-800">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-6 space-y-4">

        <!--Input -->

        <mat-form-field appearance="outline" class="w-full dark:text-white  ">
            <mat-label class="text-lg">{{ 'mantenedores.formularios.tipoComponente.label.nombre' | translate
                }}</mat-label>
            <input matInput formControlName="nombre"
                [attr.placeholder]="'mantenedores.formularios.nombre.descripcion' | translate"
                class="text-lg w-full dark:text-white ">
            <mat-error *ngIf="form.get('nombre')?.hasError('required')" class="text-red-500 text-base">
                {{ 'mantenedores.formularios.campoRequerido' | translate }}
            </mat-error>
        </mat-form-field>


        <div class="grid grid-cols-2 gap-4 w-full">
            <button type="button" (click)="dialogRef.close()"
                class="text-lg elitsoft-warn w-full flex items-center justify-center py-2 text-center">
                {{ 'mantenedores.formularios.botonCancelar' | translate }}
            </button>
            <button type="submit" [disabled]="form.invalid"
                class="text-lg elitsoft-btn w-full flex items-center justify-center py-2 text-center disabled:opacity-50">
                {{ (esActualizar() ? 'mantenedores.formularios.actualizar' :
                'mantenedores.formularios.guardar') |
                translate }}
            </button>
        </div>
    </form>
</mat-dialog-content>