<app-titulo-dialogo
    [title]="(esActualizar() ? 'mantenedores.formularios.trabajo.tituloEditar' : 'mantenedores.formularios.trabajo.tituloAgregar') | translate"
    icon="task" [ref]="dialogRef">
</app-titulo-dialogo>

<mat-dialog-content class="!p-0 dark:bg-neutral-800">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-6 space-y-4">

        <!-- Campo de solo lectura para mostrar el valor actual (en modo edición) -->
        <mat-form-field *ngIf="data?.esActualizar" appearance="outline" class="w-full dark:text-white">
            <mat-label>{{ 'mantenedores.formularios.trabajo.label.descripcionTrabajo' | translate }}</mat-label>
            <input matInput [value]="data?.object?.descripcionTrabajo" readonly maxlength="50"
                class="text-lg w-full dark:text-white bg-gray-100">
            <mat-hint align="end">{{data?.object?.descripcionTrabajo?.length || 0}}/50</mat-hint>
        </mat-form-field>

        <!-- Campo obligatorio para el nuevo valor -->
        <mat-form-field appearance="outline" class="w-full dark:text-white">
            <mat-label>{{ (data?.esActualizar ? 'mantenedores.formularios.trabajo.label.ingreseNombre' :
                'mantenedores.formularios.trabajo.label.descripcionTrabajo') | translate }}</mat-label>
            <input matInput formControlName="descripcionTrabajo" class="text-lg w-full dark:text-white" maxlength="50"
                [placeholder]="'mantenedores.formularios.trabajo.label.ingreseNombre' | translate">
            <mat-hint align="end">{{form.get('descripcionTrabajo')?.value?.length || 0}}/50</mat-hint>
            <mat-error *ngIf="form.get('descripcionTrabajo')?.hasError('required')" class="text-red-500 text-base">
                {{ 'mantenedores.formularios.campoRequerido' | translate }}
            </mat-error>
        </mat-form-field>

        <div class="grid grid-cols-2 gap-4 w-full">
            <button type="button" (click)="dialogRef.close()"
                class="text-lg elitsoft-warn w-full flex items-center justify-center py-2 text-center">
                {{ 'mantenedores.formularios.botonCancelar' | translate }}
            </button>
            <button type="submit" [disabled]="form.invalid"
                class="text-lg elitsoft-btn w-full flex items-center justify-center py-2 text-center disabled:opacity-50">
                {{ (esActualizar() ? 'mantenedores.formularios.actualizar' :
                'mantenedores.formularios.guardar') |
                translate }}
            </button>
        </div>
    </form>
</mat-dialog-content>