<div class="">
    <div class="flex flex-col md:flex-row items-center lg:items-end gap-4 p-4">
        <!-- Campo de búsqueda -->
        <div class="w-full md:w-auto">
            <div class="relative w-full md:w-[240px] lg:w-[300px]">
                <input [(ngModel)]="value" type="text"
                    class="w-full h-[44px] px-4 py-2 rounded-lg border-2 border-[#C2C2C2] bg-white text-[#757575] text-lg outline-none"
                    (ngModelChange)="onValueChange()"
                    [placeholder]="('table.digiteBusqueda' | translate) + ' ' + ('mantenedores.sector.descripcionSector' | translate)" />
                <button class="absolute right-3 top-1/2 transform -translate-y-1/2"
                    [ngClass]="{'text-red-500': value, 'text-[#757575]': !value}" (click)="value ? clearInput() : null">
                    <mat-icon>{{value ? 'close' : 'search'}}</mat-icon>
                </button>
            </div>
        </div>

        <!-- Select de filtros con espaciado para iPad Pro -->
        <div class="w-full md:w-auto self-end md:mx-4">
            <div class="relative w-full md:w-[160px] lg:w-[200px]">
                <mat-select [(ngModel)]="selectedFilter" (selectionChange)="onValueChange()"
                    (opened)="onZonaSelectOpen()" [placeholder]="'mantenedores.sector.zona' | translate"
                    class="block w-full h-[44px] px-4 py-2 text-lg text-[#757575] bg-white border-2 border-[#C2C2C2] rounded-lg appearance-none focus:outline-none focus:border-[#3f51b5]">
                    <mat-option *ngFor="let option of filterOptions" [value]="option">
                        {{ option.descripcionZona | translate }}
                    </mat-option>
                </mat-select>
            </div>
        </div>

        <!-- Botón de búsqueda -->
        <button (click)="executeSearch()"
            class="w-full md:w-auto h-[44px] px-4 md:px-6 rounded-lg bg-[#3f51b5] text-white hover:bg-[#303f9f] transition-colors">
            {{ 'mantenedores.buscar' | translate }}
        </button>
    </div>
</div>