<div class="flex gap-4 rounded-t-lg bg-red-100 overflow-hidden dark:bg-neutral-800 " *ngIf="showDiv">

    @for (filter of filters; track $index) {
    <div class="col-span-1 w-full p-4">
        @if(isKeyMissing(filter, "type")){
        <app-busqueda [field]="filter.field" #filterInput></app-busqueda>
        }@else if (filter.type === 'text') {
        <app-busqueda [field]="filter.field" #filterInput></app-busqueda>
        }@else if (filter.type === 'select') {
        Select
        }

    </div>
    }

    <button *ngIf="filters.length > 0" (click)="filter()"> Buscar </button>
</div>

<div class="flex flex-col sm:flex-row justify-between bg-gray-100 p-4 gap-4 rounded-t-lg dark:bg-neutral-800 w-auto overflow-x-auto sticky left-0 "
    *ngIf="showDiv">

    <app-busqueda (simpleSearch)="makeSimpleSearch($event)" [tableData]="dataSource" [field]="simpleSearchField"
        [isSimpleSearch]="true"></app-busqueda>
    <div> @if(filtersLabels.length> 0){
        {{ 'table.filtrosSeleccionados' | translate: { count: filtersLabels.length } }}
        }
        @for (active of filtersLabels; track $index) {
        <button (click)="deleteFilter(active.field)">
            {{ getTranslationGroup(active.field) | translate }}:
            {{ active.value }}
            <span class="text-red-500 font-bold cursor-pointer">X</span> |
        </button>
        }
    </div>
</div>